@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities { /* скрыть скролл */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .text-border-dark{
        -webkit-text-stroke: 1px rgb(147 197 253);
    }
    .text-border-light{
        -webkit-text-stroke: 1px rgb(0, 2, 5);
    }
}
.ligth{
    background-color: #f5f5dc;
    color: #000;
}
.dark{
    background-color: #000;
    color: #f2d6d6;
}
.perspective{
    perspective: 1000px;
}
.inner{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.back{
     transform: rotateY(180deg);
}